<div class="layout-topbar">
    <a routerLink="" class="nx-topbar-brand select-none">
        <span class="nx-brand-mark" aria-hidden="true">
            <img src="assets/neuralaxe-mark.svg" width="40" height="40" class="block" alt="" />
        </span>
        <span class="nx-brand-titles">
            <span class="nx-brand-name">NeuralAxe&nbsp;OS <span class="nx-ver-pill">{{ neuralaxe.productVersion }}</span></span>
            <span class="nx-brand-sub">Command&nbsp;Deck</span>
        </span>
    </a>

    <ng-container *ngIf="info$ | async as info">
        <div class="nx-topbar-pills select-none">
            <span class="nx-hpill" pTooltip="Target device" tooltipPosition="bottom">
                <i class="pi pi-box"></i>{{ neuralaxe.targetDevice }} {{ neuralaxe.targetBoard }}
            </span>
            <span class="nx-hpill" pTooltip="ASIC" tooltipPosition="bottom">
                <i class="pi pi-microchip"></i>{{ info.ASICModel || neuralaxe.targetAsic }}
            </span>
            <span class="nx-hpill nx-hpill-ok" *ngIf="!isMiningPaused" pTooltip="Mining active" tooltipPosition="bottom">
                <span class="nx-live-dot"></span>Online
            </span>
            <span class="nx-hpill" *ngIf="isMiningPaused" pTooltip="Mining paused" tooltipPosition="bottom">
                <i class="pi pi-pause"></i>Paused
            </span>
            <span class="nx-hpill" [ngClass]="poolHealthy(info) ? 'nx-hpill-ok' : ''" pTooltip="Stratum state" tooltipPosition="bottom">
                <i class="pi pi-shield"></i>{{ poolHealthy(info) ? 'Pool Healthy' : 'Fallback Pool' }}
            </span>
            <span class="nx-hpill nx-hpill-ok" pTooltip="{{ info.wifiStatus }} ({{ info.wifiRSSI }} dBm)" tooltipPosition="bottom">
                <i class="pi pi-wifi"></i>Wi-Fi
            </span>
        </div>

        <div class="nx-uptime ml-auto mr-3 select-none hidden lg:flex">
            <label>Uptime</label>
            <b>{{ uptime(info) }}</b>
        </div>


        <ul *ngIf="!isAPMode" class="flex ml-auto list-none p-0 m-0 gap-4 lg:flex-order-2">
            <li *ngIf="dashboardEdit.editMode$ | async" class="hidden md:block">
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Widgets"
                    (click)="widgetPanel.toggle($event)"
                >
                    <i class="pi pi-list-check text-xl block"></i>
                </a>
            </li>
            <li *ngIf="dashboardEdit.editMode$ | async" class="hidden md:block">
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    [pTooltip]="layoutService.isWideView() ? 'Standard Width' : 'Wide View'"
                    (click)="layoutService.toggleWideView()"
                >
                    <i class="pi text-xl block"
                        [ngClass]="layoutService.isWideView() ? 'pi-window-minimize' : 'pi-window-maximize'"></i>
                </a>
            </li>
            <li *ngIf="dashboardEdit.editMode$ | async" class="hidden md:block">
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Reset Layout"
                    (click)="dashboardEdit.requestReset()"
                >
                    <i class="pi pi-replay text-xl block"></i>
                </a>
            </li>
            <li class="hidden md:block" *ngIf="isClassicRoute">
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    [pTooltip]="(dashboardEdit.editMode$ | async) ? 'Save Layout' : 'Edit Layout'"
                    (click)="dashboardEdit.toggleEditMode()"
                >
                    <i class="pi text-xl block"
                        [ngClass]="(dashboardEdit.editMode$ | async) ? 'pi-save' : 'pi-th-large'"></i>
                </a>
            </li>
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Sensitive data {{sensitiveDataHidden ? 'hidden' : 'visible'}}"
                    (click)="toggleSensitiveData()"
                >
                    <i class="pi pi-{{sensitiveDataHidden ? 'eye-slash' : 'eye'}} block" style="font-size: 1.4rem;"></i>
                </a>
            </li>
            <li>
                <a routerLink="network"
                    class="block py-2"
                    tooltipPosition="bottom"
                    pTooltip="Wi-Fi RSSI: {{info.wifiRSSI}} dBm"
                >
                    <wifi-icon [rssi]="info.wifiRSSI" />
                </a>
            </li>
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    [pTooltip]="isMiningPaused ? 'Resume Mining' : 'Pause Mining'"
                    (click)="toggleMiningPaused()"
                >
                    <i class="pi text-xl block" [ngClass]="isMiningPaused ? 'pi-play-circle' : 'pi-pause-circle'"></i>
                </a>
            </li>
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Restart"
                    (click)="restart()"
                >
                    <i class="pi pi-refresh text-xl block"></i>
                </a>
            </li>
        </ul>

        <p-overlayPanel #widgetPanel>
            <div class="flex flex-column gap-2">
                <div *ngFor="let widget of dashboardEdit.widgetDefs" class="flex align-items-center gap-2">
                    <p-checkbox
                        [binary]="true"
                        [ngModel]="dashboardEdit.isWidgetVisible(widget.id)"
                        (onChange)="dashboardEdit.toggleWidgetRequested$.next(widget.id)"
                        [inputId]="'widget-' + widget.id">
                    </p-checkbox>
                    <label [for]="'widget-' + widget.id" class="text-sm cursor-pointer white-space-nowrap">{{ widget.label }}</label>
                </div>
            </div>
        </p-overlayPanel>
    </ng-container>

    <button *ngIf="!isAPMode" #menubutton class="p-link layout-topbar-button"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
</div>